# Python Collections

# Sequence Type

## String
## immutable, homogeneous

In [3]:
str  = "Hello i'm a String"

In [4]:
for x in str:
    print('{} at {}'.format(x,str.index(x)))

H at 0
e at 1
l at 2
l at 2
o at 4
  at 5
i at 6
' at 7
m at 8
  at 5
a at 10
  at 5
S at 12
t at 13
r at 14
i at 6
n at 16
g at 17

In [5]:
for i in range(len(str)):
    print('{} at {}'.format(str[i],i))

H at 0
e at 1
l at 2
l at 3
o at 4
  at 5
i at 6
' at 7
m at 8
  at 9
a at 10
  at 11
S at 12
t at 13
r at 14
i at 15
n at 16
g at 17

In [6]:
## Operator On String

In [7]:
str = str  + " in Python "
str

"Hello i'm a String in Python "

In [8]:
str *= 2

In [9]:
str

"Hello i'm a String in Python Hello i'm a String in Python "

## in and not in

In [49]:
str

'1 2 3 4'

In [46]:
"Python" in str

False

In [48]:
"4" in str

True

## Slicing

### String_name[starting_index:finishing_index:step]

In [14]:
len(str)

58

In [16]:
str[0:58:1]

"Hello i'm a String in Python Hello i'm a String in Python "

In [20]:
str[::-1]

" nohtyP ni gnirtS a m'i olleH nohtyP ni gnirtS a m'i olleH"

## Split String

### string_name.split([separator],[maxsplit])

In [24]:
str.split(" ",1)

['Hello', "i'm a String in Python Hello i'm a String in Python "]

## Join String

### string_name.join(sequence)

In [33]:
str = "1 2 3 4"

In [34]:
"#".join(str)

'1# #2# #3# #4'

## Format string

### %-string

In [41]:
name = "ts"
age = 19
print("My name is %s ,I'm %d years old" %(name,age))

My name is ts ,I'm 19 years old

### {}-format

In [43]:
print("My name is {} , I'm {} years old".format(name,age))

My name is ts , I'm 19 years old

### f-format

In [44]:
print(f"My name is {name}, I'm {age} year old")

My name is ts, I'm 19 year old

## List
### mutable, heterogeneous

In [51]:
my_list = [1,2,3,4,5,6]

### in and not in

In [52]:
4 in my_list

True

### extend

In [53]:
my_list.extend([7,8,9])

In [61]:
my_list # my_list changed

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
my_other_list = my_list + [7,8,9]

In [58]:
my_other_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 8, 9]

In [62]:
my_list # my_list didn't change

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### append

In [63]:
my_list.append(10)

In [64]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### unpack list

In [69]:
x,y,z = [1,2,3]
print(f"x = {x}, y = {y}, z = {z}")

x = 1, y = 2, z = 3

In [70]:
_,y,_ = [1,2,3]
print(f"y = {y}")

y = 2

### Assign List item (only lish can assign item)

In [71]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
my_list[2] = 6

In [74]:
my_list

[1, 2, 6, 4, 5, 6, 7, 8, 9, 10]

In [81]:
max(my_list)

10

In [82]:
sum(my_list)

58

In [83]:
len(my_list)

10

## Tuple
###  immutable, heterogeneous.

In [77]:
my_tuple = (1,2,3)

In [78]:
def sum_and_multiply(x,y):
    return (x+y), (x*y)

In [79]:
result_tuple = sum_and_multiply(2,3)
result_tuple

(5, 6)

## Dictionary

In [89]:
empty_dic = {}
empty_dic

{}

In [88]:
empty_dic1 = dict()
empty_dic1

{}

In [92]:
score_dict = {"ts":100,"td":101}

In [93]:
score_dict

{'ts': 100, 'td': 101}

In [97]:
ts_score = score_dict["ts"]
ts_score

100

In [94]:
"ts" in score_dict

True

In [95]:
"vp" in score_dict

False

### Get
### dict_name.get("index", default_value)

In [100]:
print(score_dict.get("ts"))

100

In [102]:
print(score_dict.get("n","not found"))

not found

In [103]:
tweet = {
"user" : "joelgrus",
"text" : "Data Science is Awesome",
"retweet_count" : 100,
"hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [104]:
tweet.keys()

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [105]:
tweet.values()

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [108]:
tweet.items() # item and value

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

## Set

In [111]:
my_set = set()

In [112]:
my_set.add(3)

In [113]:
my_set.add(4)

In [114]:
my_set

{3, 4}

### quick check using set

In [115]:
my_list

[1, 2, 6, 4, 5, 6, 7, 8, 9, 10]

In [116]:
22 in my_list

False

In [117]:
my_set = set(my_list)

In [118]:
22 in my_set

False

## List comprehension

In [121]:
evenNum = [x for x in range(10) if (x % 2 == 0)]
evenNum

[0, 2, 4, 6, 8]

In [123]:
evenSquare = [x*x for x in evenNum]

In [125]:
evenSquare

[0, 4, 16, 36, 64]

In [129]:
square_dict = {x : x*x for x in range(10)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [135]:
square_set = {x**2 for x in [1,-1,2,-2]}
square_set

{1, 4}

In [170]:
pair_list = [(x,y)
            for x in range(2)
            for y in range(2)]
pair_list

[(0, 0), (0, 1), (1, 0), (1, 1)]

### map

In [139]:
my_list = [1,2,3,4,5,6]

In [141]:
def double(x):
    return x**2

In [142]:
square_list = list(map(double,my_list))

In [143]:
square_list

[1, 4, 9, 16, 25, 36]

## filter

In [145]:
def even(x):
    return (x%2 == 0);

In [147]:
even_list = list(filter(even,my_list))
even_list

[2, 4, 6]

## zip and unzip

In [150]:
letter = ['a','b','c']
number = [1,2,3]

In [153]:
zip_list = list(zip(letter,number))
zip_list

[('a', 1), ('b', 2), ('c', 3)]

In [154]:
letter = list()
number = list()

In [158]:
letter,number = zip(*zip_list)

In [159]:
letter

('a', 'b', 'c')

In [160]:
number

(1, 2, 3)

## *

In [163]:
my_list = [5,6]

In [164]:
def sum(x,y):
    return x+y

In [165]:
sum(5,6)

11

In [166]:
sum(my_list)

TypeError: sum() missing 1 required positional argument: 'y'

In [167]:
sum(*my_list)

11

In [168]:
my_other_list = [1,2,3,4,5,6]

In [169]:
sum(*my_other_list)

TypeError: sum() takes 2 positional arguments but 6 were given